*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

.attribution {
	font-size: 11px;
	text-align: center;

	a {
		color: hsl(228, 45%, 44%);
	}
}
